body {
    border: 1px solid gray;
}

header {
    background: #90C42E;
    padding: 20px;
    height: 100px;
    font-weight: bold;
}

#container {
    display: flex;
}

form {
    flex: 2;
    background: #F5F4D8;
    display: flex;
    padding: 20px;
    margin: 20px 10px 60px 20px;
    gap: 40px;
}

#left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#left-side div {
    padding: 10px 0;
}

.form-input {
    display: flex;
    gap: 10px;
}

.form-input input {
    flex: 1;
}

.form-input select {
    flex: 1;
}

#booking-container {
    display: flex;
    justify-content: end;
}

#booking-btn {
    background: #767577;
    color: white;
    border: none;
    padding: 10px 20px;
}

#right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside {
    background: #F5F4D8;
    padding: 20px;
    flex: 1;
    font-weight: bold;
}

nav {
    background: #D2E4CF;
    padding: 20px;
    flex: 1;
    font-weight: bold;
}

footer {
    background: #90C52E;
    padding: 20px;
    height: 100px;
    font-weight: bold;
}